.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-logo img {
    width: 65px;
    height: 41px;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background-color: red;
    color: white;
}

/*<Link></Link> == <a></a>*/
a {
    color: #626262;
    text-decoration: none !important;
  }

.hamburger-icon div {
    width: 35px;
    height: 3px;
    background: #171717;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    top: 44%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    list-style-type: none;
    background-color: white;
    width: 100%;
    height: 70%;
}

.mobile-menu {
    display: none;
}

.nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    display: none;
    font-size: 1.8rem;
}


@media screen and (max-width: 600px) {
    .nav-title {
        display: none;
    }
    .login-btn {
        display: none;
    } 

    
    .nav-cart-img {
        margin-left: 105px;
        margin-top: 6px;
        width: 35px;
        height: 35px;
    }

    .nav-cart-count {
        margin-top: -26px;
    }

    .nav-btn {
        visibility: visible;
        opacity: 1;
        display: block;
        position: absolute;
        top: 1.3rem;
        right: 0.5rem;
    }

    .is-closed {
        display: none;
    }
    
    .navbar .nav-btn {
        display: none;
    }

    .nav-menu {
        display: none;
    }

    .responsive_nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #f3f3f3;
        transition: 0.4s;
    }

    .responsive_nav .nav-menu {
        display: flex;
        flex-direction: column;
    }

    .responsive_nav .nav-logo {
        display: none;
    }

    .responsive_nav .nav-login-cart {
        display: none;
    }

    .responsive_nav .nav-btn {
        display: block;
    }

    .close-btn {
        position: absolute;
        top: 1.3rem;
        right: 2.5rem;
    }
}